[submodule "riemann.osv"]
	path = riemann.osv
	url = git@github.com:chrisbetz/riemann.osv.git
[submodule "elasticsearch.osv"]
	path = elasticsearch.osv
	url = git@github.com:chrisbetz/elasticsearch.osv.git
[submodule "elasticHQ.osv"]
	path = elasticHQ.osv
	url = git@github.com:chrisbetz/elasticHQ.osv.git
[submodule "log4j-riemann-appender"]
	path = log4j-riemann-appender
	url = git@github.com:gorillalabs/log4j-riemann-appender.git
